[submodule "benchmarks/libs/Substrate"]
	path = benchmarks/libs/Substrate
	url = https://github.com/henrygab/Substrate.git
[submodule "benchmarks/libs/fNbt"]
	path = benchmarks/libs/fNbt
	url = https://github.com/mstefarov/fNbt.git
[submodule "sample-files"]
	path = sample-files
	url = https://github.com/gaviny82/MinecraftToolkit.Nbt.SampleFiles.git
